<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conversational Code Creator</title>
  </head>
  <body>
    <h3>⚒ CCC is UNDER CONSTRUCTION ⚒</h3>
    <p>More info: <a href="https://github.com/hchiam/ccc" target="_blank" style="padding:0px">here</a></p>

    <div id="progressBar">
      <div id="progress"></div>
    </div>

    <div id='app'>

      <div id='interface-grid'>

        <div id='main-interface'>

          <input id='input' 
                class='input' 
                v-model='input' 
                placeholder='Type "x is 1", or "say something", or "move to a position".' 
                v-on:keyup='delayedParse()'>
          <div id='helper-buttons'>
            <button v-on:click='enterExample()'>Example</button>
            <button v-on:click='clearCode()'>Clear</button>
            <button v-on:click='runUnitTests()'>Unit tests</button>
            <button v-on:click='openInTestMode()'>Debug</button>
            <button v-on:click='disableVoice()' 
                    v-show='voiceEnabled'>Disable voice</button>
            <button v-on:click='disableVoice()' 
                    v-show='!voiceEnabled' 
                    v-cloak>Enable voice</button>
            <button id='prompt' 
                    v-if='prompt' 
                    v-on:click='setFocusToInput();say("Please enter the value.")' 
                    v-cloak>{{ prompt }}</button>
          </div>
          <div class='code-block' 
              v-if='code'
              v-cloak>
            <h4 class='code-block' 
                style='margin: 0px'>Click on this code to run it:</h4>
            <pre id='code' 
                class='code' 
                title='Click this code to run it' 
                v-on:click='runCode()' 
                v-cloak>{{ code }}</pre>
            <button v-on:click='showJSON = true' 
                    v-show='!showJSON'>Look under the hood</button>
            <button v-on:click='showJSON = false' 
                    v-show='showJSON'>Close the hood</button>
            <pre id='under-the-hood' 
                v-if='showJSON' 
                v-cloak>{{ definitionsDisplayable }}</pre>
          </div>

        </div>

        <div id='animation-screen' 
            v-if='showAnimationScreen' 
            v-cloak>
          <svg v-on:click='runCode()'>
            <rect id='shape' 
                  width='20' height='20' 
                  x='50' y='50' 
                  rx='5' ry='5'></rect>
          </svg>
          <button v-on:click='runCode()'>Replay</button>
        </div>

      </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src='https://unpkg.com/compromise@latest/builds/compromise.min.js'></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src='brain.js'></script>
  </body>
</html>